@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){

    body{
        background: linear-gradient(to top, #67C7A7, #CEFBEC) 45%;
    }

    #login{
        width: 80vw;
    }

    #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    #formulario{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {

    body{
        background: linear-gradient(to top, #67C7A7, #CEFBEC) 45%;
    }
    
    #login{
        width: 950px;
    }

    #imagem{
        float: left;
        width: 50%;
        height: 100%;
    }

    #formulario{
        float: right;
        width: 50%;
    }
}
