@charset "UTF-8";

/* Paleta de cores

#CEFBEC
#407A67
#67C7A7
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html{
    background-color: #CEFBEC;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);

    transition: width 0.4s, heigth 0.4s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

#imagem{
    background: url(../imagens/pattern-build.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center center;
    display: block;
}

#formulario{
    display: block;
    padding: 10px;
}

#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

#formulario > p{
    font-size: 0.8em;
    margin: 20px 0px;
}

div.campo > label{
    display: none;
}

div.campo > span{
    color: white;
    font-size: 2em;
    padding: 2px;
    width: 40px;
}

div.campo > input{
    background-color: #CEFBEC;
    font-size: 1em;
    border-radius:10px;
    border: 0px;
    padding: 10px;
    height: 100%;
    
    width: calc(100% - 50px);
    transform: translateY(-9px);
}

div.campo > input:focus-within{
    background-color: white;
}

.campo{
    background-color: #67C7A7;
    border: 2px solid #67C7A7;
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 10px;
    margin: 5px 0px;
    margin-bottom: 15px;
    text-indent: 5px;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    background-color: #407A67;
    border-radius: 20px;
    border: 1px solid #26493e;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.356);
    border: none;
}

form > input[type=submit]:hover{
    background-color: #67C7A7;
    cursor: pointer;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    background-color: #407A67;
    border: 1px solid #26493e;
    border-radius: 20px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.356);
    border: none;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: #67C7A7;
    cursor: pointer;
}

#icone{
    padding-top: 5px;
    font-size: 1em;
}
